<h1>Listado de noticias:</h1>


<!-- // @noticias: lista de contenidos correspondiente a las noticias a presentar -->
<% for @noticia in @noticias -%>
    <!-- Utilizo el helper para mostrar la noticia actual -->
    <%= mostrar_noticia(@noticia.id, @profile_id) %>
    
<% end %>

